includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - config
        - database
        - routes
        - tests

    excludePaths:
        - bootstrap/cache/*
        - vendor/*

    level: 5

    tmpDir: build/phpstan
